.container-text-404 {
    height: 25px;
    padding: 20px 70px;
}

.text-404 {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

.main-container {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    padding: 0 70px 0 120px;
}

.container-scarecrow-picture img{
    width: 100%;
}

.information-text {
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}

.more-information-text{
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    width: 60%;
    color: #4F4F4F;
}

.button-homepage{
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;
    background: #333333;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    color: #FFFFFF;
}

.footer-text {
    text-align: center;
    margin-top: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}